html,
body {
  margin: 0;
  height: 100%;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

#c {
  width: 100%;
  height: 94%;
  display: block;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

#info {
  position: absolute;
  top: 5px;
  color: white;
  text-align: center;
  width: 100vw;
}

a {
  color: orange;
}

.button-container {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	height: 6%;
  }
