html,
body {
  margin: 0;
  height: 100%;
}

#c {
  width: 100%;
  height: 94%;
  display: block;
}

#info {
  position: absolute;
  top: 5px;
  color: white;
  text-align: center;
  width: 100vw;
}

a {
  color: orange;
}

.button-container {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background-color: #000000;
	height: 6%;
  }

  .button {
	padding: 10px;
	color: white;
	background-color: #007bff;
	border: none;
	cursor: pointer;
  }